<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="7" MadCap:lastHeight="361" MadCap:lastWidth="741" MadCap:conditionTagExpression="include[General.Online]">
    <head><title><span data-mpld-lookup="open">open</span></title>
        <script src="/docs/scripts/handlebars-v4.0.11.js" type="text/javascript">
        </script>
        <script src="/docs/scripts/jquery.min.js" type="text/javascript">
        </script>
        <link href="/docs/Resources2/Stylesheets/mpld.css" rel="stylesheet" />
        <script src="/docs/scripts/mpld.js" type="text/javascript"> /*<![CDATA[*/ /*]]>*/</script>
        <script src="/docs/scripts/mpld-template.js" type="text/javascript"> /*<![CDATA[*/ /*]]>*/</script>
    </head>
    <body>
        <h1 class="title"> <span data-mpld-lookup="tbd-moduleid">tbd-moduleid</span> ( )</h1>
        <p>tbd</p>
        <h2 class="title"> class="title">Syntax</h2>
        <div class="mpld-section" data-mpld-section="sdk-install" data-mpld-inline="1">
            <div id="method-syntax-template-body">
            </div>
        </div>
        <h2 class="title"> class="title">Parameters</h2>
        <div id="parameters-template-body">
        </div>
        <h2 class="title"> class="title">Returns</h2>
        <div id="return-template-body">
        </div>
        <p>
			tbd
		</p>

        <h2 class="title"> class="title">Remarks</h2>
        <p> tbd </p>
        <!--
			<h2 class="title">Examples</h2>
			-->
        <!--
			<h2 class="title"> class="title">See Also</h2>
	-->
        <script id="params-template" type="text/x-handlebars-template">
			{{#paramdef 'tbd'}}
				tbd
			{{/paramdef }}
		</script>
        <script>
			/*<![CDATA[*/
			var methodSpecLang = [];
			methodSpecLang["java"] = 
			{
			language : "java",
			methodId : "close",
			methodName : "close",
			params : [
			{	paramID: "throwex", paramType : "boolean", paramName : "throwEx"},
			],
			overloads : 
			[
			{
			returnType :"TestResults",
			oparams : ["throwex"]
			},
			{
			returnType :"TestResults",
			oparams : [""]		
			}
			]
			}
			methodSpecLang["javascript"] = 
			{
			language : "javascript",
			methodId : "close",
			methodName : "close",
			params : [
			{	paramID: "throwex", paramType : "boolean", paramName : "throwEx"},
			],
			overloads : 
			[
			{
			returnType :"Promise(results)",
			oparams : ["throwex"]
			},
			{
			returnType :"Promise(results)",
			oparams : [""]		
			}
			]
			}
			methodSpecLang["csharp"] = 
			{
			language : "csharp",
			methodId : "close",
			methodName : "Close",
			params : [
			{	paramID: "throwex", paramType : "bool", paramName : "throwEx"},
			],
			overloads : 
			[
			{
			returnType :"TestResults",
			oparams : ["throwex"]
			},
			{
			returnType :"TestResults",
			oparams : [""]		
			}
			]
			}
			methodSpecLang["ruby"] = 
			{
			language : "ruby",
			methodId : "close",
			methodName : "close",
			params : [
			{	paramID: "throwex", paramType : "Boolean", paramName : "throw_exception"},
			],
			overloads : 
			[
			{
			returnType :"??? results",
			oparams : ["throwex"]
			},
			{
			returnType :"??? resultsr",
			oparams : [""]		
			}
			]
			}
			methodSpecLang["python"] = 
			{
			language : "python",
			methodId : "close",
			methodName : "close",
			params : [
			{	paramID: "throwex", paramType : "Boolean", paramName : "raise_ex"},
			],
			overloads : 
			[
			{
			returnType :"??? result",
			oparams : ["throwex"]
			},
			{
			returnType :"??? result",
			oparams : [""]		
			}
			]
			}
			//WebDriver $driver, $appName, $testName, RectangleSize $viewportSize
			methodSpecLang["php"] = 
			{
			language : "php",
			methodId : "close",
			methodName : "open",
			params : [
			{	paramID: "throwex", paramType : "boolean", paramName : "$throwEx"},
			],
			overloads : 
			[
			{
			returnType :"TestResults",
			oparams : ["throwex"]
			},
			{
			returnType :"TestResults",
			oparams : [""]		
			}
			]
			}
			mpldTmplt.setMethodLang(methodSpecLang);
			/*]]>*/
		</script>
        <script type="text/javascript">/*<![CDATA[*/			
			//var folder = "/docs/example-code";
			//var myFile = "HelloWorld2"; 
			//mpld.setDefaultFile(folder,myFile);
			/* data-mpld-lang, 	button name, 	sub folder name , 							file suffix */
			mpld.dontSetupLanguage();
			mpld.addLanguage("java",				"Java",			"java/src/main/java/com/applitools/ekb","	.java");
			mpld.addLanguage("javascript",			"Javascript",	"javascript",								".js");
			mpld.addLanguage("ruby",		 	    "Ruby",	        "ruby",							        	".rb");
			mpld.addLanguage("python",		 	    "Python",	    "python",							        ".py");
			mpld.addLanguage("csharp",		 	    "C#",	  		"csharp",							        ".cs");
			mpld.addLanguage("php",		 	   		"PHP",	    	"PHP",							       		".php");
			mpldTmplt.setup();
			mpld.setContentCallback(mpldTmplt.contentUpdate);
		/*]]>*/</script>
    </body>
</html>