<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="4" MadCap:lastHeight="467" MadCap:lastWidth="961">
    <head>
    </head>
    <body>
        <h1 class="title">template-topic</h1>
        <p>
            <MadCap:xref class="link" href="../0quickInserts/under-construction.htm">This Page is Under-Construction</MadCap:xref>
        </p>
        <div class="internal">
            Purpose</div>
        <div class="internal">Notes</div>
        <ol class="numbered-list">
            <li class="internal">note 1</li>
        </ol>
        <div class="internal">Status : NOT-STARTED</div>
        <div class="internal">Reviewed : NOT-REVIEWED</div>
        <p>&#160;</p>
    </body>
</html>