<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="6" MadCap:lastHeight="430" MadCap:lastWidth="852">
    <head>
    </head>
    <body>
        <h1 class="title">TBD</h1>
        <p><span class="tbd">TBD</span>
        </p>
        <h1 class="title"><MadCap:variable name="General.ProductClientAPI" />
        </h2>
        <p><span class="tbd">TBD</span>
        </p>
        <h1 class="title"><MadCap:variable name="General.ProductUI" />
        </h2>
        <p><span class="tbd">TBD</span>
        </p>
        <p>
            <MadCap:snippetText src="../0quickInserts/_tbdimg.flsnp" />
        </p>
        <h2 class="title"> class="title">Related Topics</h2>
        <p><span class="tbd">TBD</span>
        </p>
    </body>
</html>