$font-family: "Poppins", sans-serif;
//$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
$font-family-code: Consolas, monaco, monospace;
$font-s: 0.875rem;
$font-m: 16px;
$font-l: 1.125rem;
$font-xl: 1.25rem;
$font-xxl: 1.375rem;

$z-navbar: 10;
$z-message: 15;
$z-modal: 30;

$screen-xs-min: 320px;
$screen-xs-max: 479px;
$screen-sm-min: $screen-xs-max + 1;
$screen-sm-max: 767px;
$screen-md-min: $screen-sm-max + 1;
$screen-md-max: 991px;
$screen-lg-min: $screen-md-max + 1;
$screen-lg-max: 1199px;
$screen-xl-min: $screen-lg-max + 1;

$navbar-height: 70px;
$navbar-height-mobile: 55px;
$window-padding: 40px;
$panel-side-padding: 20px;

$c-text-1: #2c2c2c;
$c-text-2: #6c6c6c;
$c-text-3: #7f7f7f;
$c-text-4: #ababab;
$c-text-5: #c0c0c0;
$c-text-6: #f9f9f9;
$c-text-7: #fff;

$c-primary-1: #3c739a;
$c-primary-2: #4e5a63;
$c-primary-3: #484c55;

$c-accent-1: #9dacbb;
$c-accent-2: #3588dd;
$c-accent-3: #e6eef3;

$c-background-1: #fff;
$c-background-2: #f9f9f9;
$c-background-3: #f4f4f4;
$c-background-4: #e0e0e0;
$c-background-5: #d9d9d9;
$c-background-6: #dbe0e5;
$c-background-7: #c0c0c0;

$c-text-disabled-1: #dbdbdb;
$c-text-disabled-2: #ddd;
$c-background-disabled-1: #f4f4f4;

$c-blue-1: #1a436f;
$c-blue-2: #00a0fc;
$c-blue-3: #2d91c2;
$c-blue-4: #575cc5;
$c-blue-5: #2c435c;
$c-blue-6: #4295d0;
$c-blue-7: #005384;

$c-green-1: #00ae4e;
$c-green-2: #71cbcb;
$c-green-3: #006714;
$c-orange-1: #f39c12;
$c-red-1: #c0392b;

$c-turquoise-1: #18a298;
$c-teal: #01B8AC;

$c-shadow-1: 0 0 5px 0 rgba(0, 0, 0, 0.2);
$c-shadow-2: 0 0 5px 0 rgba(0, 0, 0, 0.5);
$c-shadow-inset-1: inset 0 0 2px 0 rgba(0, 0, 0, 0.2);